@using ProniaFrontToBack.Models
@model List<Product>

<div class="swiper-container product-slider">
    <div class="swiper-wrapper">
        @foreach (Product item in Model)
        {
            <div class="swiper-slide product-item">
                <div class="product-img">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id=@item.Id>
                        @if (item.ProductImages.FirstOrDefault(x => x.Primary) != null)
                        {
                            <img class="primary-img"
                                 src="~/Upload/Product//@item.ProductImages.FirstOrDefault(x=>x.Primary).ImgUrl"
                                 alt="Product Images" />
                        }
                        @if (item.ProductImages.FirstOrDefault(x => x.Primary == false) != null)
                        {
                            <img class="secondary-img"
                                 src="~/Upload/Product//@item.ProductImages.FirstOrDefault(x=>x.Primary==false).ImgUrl"
                                 alt="Product Images" />
                        }

                    </a>
                    <div class="product-add-action">
                        <ul>
                            <li>
                                <a href="wishlist.html"
                                   data-tippy="Add to wishlist"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-like"></i>
                                </a>
                            </li>
                            <li class="quuickview-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#quickModal">
                                <a href="#"
                                   data-tippy="Quickview"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-look"></i>
                                </a>
                            </li>
                            <li>
                                <a href="cart.html"
                                   data-tippy="Add to cart"
                                   data-tippy-inertia="true"
                                   data-tippy-animation="shift-away"
                                   data-tippy-delay="50"
                                   data-tippy-arrow="true"
                                   data-tippy-theme="sharpborder">
                                    <i class="pe-7s-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product-content">
                    <a class="product-name"
                       href="single-product-variable.html">@item.Name</a>
                    <div class="price-box pb-1">
                        <span class="new-price">$23.45</span>
                    </div>
                    <div class="rating-box">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

        }
    </div>
</div>